<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhdante.androidryersonsdc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mhdante.androidryersonsdc.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mhdante.androidryersonsdc.CongratulationsActivity"
            android:label="Congrats"
            android:parentActivityName="com.mhdante.androidryersonsdc.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhdante.hello.MainActivity" />
        </activity>
        <activity
            android:name="com.mhdante.androidryersonsdc.FragmentTester"
            android:label="@string/title_activity_fragment_tester"
            android:parentActivityName="com.mhdante.androidryersonsdc.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.mhdante.androidryersonsdc.FragmentTester2"
            android:label="@string/title_activity_fragment_tester2"
            android:parentActivityName="com.mhdante.androidryersonsdc.MainActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhdante.androidryersonsdc.MainActivity" />
        </activity>
    </application>

</manifest>
